.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.profile__image:hover::before {
  content: '';
  position: absolute;
  opacity: 0.8;
  background-color: #000;
  block-size: 100%;
  inline-size: 100%;
}

.profile__image:hover::after {
  content: url('../../../images/edit-icon.svg');
  position: absolute;
  block-size: 26px;
  inline-size: 26px;
  inset-inline-start: 47px;
  inset-block-start: 47px;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
